@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Fuentes personalizadas */
  --font-family-poppins: var(--font-poppins);
  --font-family-russo: var(--font-russo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Clases de fuentes personalizadas */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-russo {
  font-family: var(--font-russo), sans-serif;
}
